body {
        font-size: 1em;
        line-height: 1.5em;
        /*margin: 2em 1em 1em 1em;*/
        margin: 4em auto;
        max-width: 40em;
        font-weight: lighter;
        font-family: Helvetica, Arial, Sans-Serif;
}

a {
        color: black;
        background-color: #bfeeff;
        text-decoration: none;
        /*padding-left: 2px;*/
        /*padding-right: 2px;*/
}

a:link { 
}

a:visited {
}

a:hover {
        background-color: #71d3f7;
}

a:active {
        background-color: #3ac2f4;
}

.rc-scout a {
        all: initial;
        font-family: Helvetica, Arial, Sans-Serif;
}

.topRight {
        text-align: right;
        position: fixed;
        top: 2em;
        right: 2em;
        z-index: 100;
}

.topLeft {
        text-align: right;
        position: fixed;
        top: 2em;
        left: 2em;
        z-index: 100;
        position: fixed;
}

.bandNames {
        margin: 0 0 0 0;
}

.mainLinks a {
        background-color: #ffdbbf;
}

.mainLinks a:hover {
        background-color: #ffa968;
}


.mainLinks a:active {
        background-color: #f99345;
}

.videoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
}