body {
        font-size: 1em;
        line-height: 1.5em;
        margin: 4em auto;
        max-width: 35em;
        font-weight: lighter;
        font-family: Helvetica, Arial, Sans-Serif;
        padding: 8px;
        text-align: center;
}

a {
        color: #0095DB;
        text-decoration: none;
}

a:hover {
        background-color: #71d3f7;
}

a:active {
        background-color: #C9E5F8;
}

.rc-scout a {
        /* color: #0095DB; */
        all: initial;
        font-family: Helvetica, Arial, Sans-Serif;
}

.topRight {
        text-align: right;
        position: fixed;
        top: 2em;
        right: 3em;
        z-index: 100;
}

.topLeft {
        text-align: right;
        position: fixed;
        top: 2em;
        left: 2em;
        z-index: 100;
        position: fixed;
}

.bandNames {
        margin: 0 0 0 0;
}

h1 {
        font-weight: bolder;
        font-size: 3em;
}

h2 {
        line-height: 1.5em;
        font-weight: 100;
        font-size: 1.5em;
}

h2 a {
        margin: 0 15 0 0;
}

.content div {
        margin: 25 0;
}

.videoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
}

.footnote {
        font-family: "EB Garamond"
}

.projects {
        margin: 10 -15 !important;
        background-color: #EFEFEF;
        padding: 15;
        font-size: 0.9em;
}

.projects a {
        margin: 0 10 0 0;
}

.projects ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
